.bgbody{
	 background: rgb(44, 48, 73)
}
/*Originally	 background: rgb(46, 51, 77)*/
/*Logo and Navigation Menu*/
#logo {
 background: url(topbar.png); 
 background-size: 100%;
}
.navfont{
 font-family:'Oswald','Segoe UI';	
 color:white;
 font-size:18pt;
 border: 3px solid black;

}
.navfont:hover{
 font-family:'Oswald','Segoe UI';	
 font-size:18pt;
 border: 3px solid white;
}
.navbar{
 font-family:'Oswald','Segoe UI';	
 color:white;
 font-size:16pt;
 border: 3px solid black;
 border: 2px solid;
 /*border-radius: 18px;
 padding:10px;
 padding-left:15px;
 padding-right:15px;
 padding-right:25px;
 padding-left:25px;*/
 background:black;
 
}
.item{/*Icons on Navbar*/
width:52px;	

}
.navbar:hover{/*FAQ,DOWNLOADS,MANUAL etc.*/
font-size:18pt;	

}
#navigation{
 padding-left:15%;
 padding-right:15%;
}
.texts{
 color:white;
 font-family:'Oswald','Segoe UI';	
 color:white;
 font-size:16pt;
 padding:10px;
 padding-left:15px;
 padding-right:15px;
 background:black;
}
.btntext{
 color:white;
 font-family:'Oswald','Segoe UI';	
 color:white;
 font-size:22pt;
 padding:10px;
 padding-left:15px;
 padding-right:15px;
}
/*         Navigation Menu sectioning     */
#home{
	width:10%;
	background: rgb(0, 162, 232);
}
#home:hover{
background:rgb(51, 204, 255);
}
#about{
	background:rgb(230, 0, 0);
}
#about:hover{
background:rgb(255, 77, 77);
}
#community{
	background:rgb(255, 173, 51);
}
#community:hover{
background:rgb(255, 214, 51);
}
#news{
	background:rgb(0, 153, 0);
}
#news:hover{
background:rgb(0, 204, 0);
}
	
#uselinks{
	background:rgb(38, 38, 38);
}
#uselinks:hover{
background:rgb(166, 166, 166);
}
/*Bottom navigation*/
#discord:hover{
color:black;
background:rgb(204,115,186);
}
#development:hover{
color:black;
background:rgb(181,230,29);
}
#faq:hover{
color:black;
background:rgb(255,51,51);
}
#downloads:hover{
color:black;
background:rgb(255,215,20);
}
#manual:hover{
color:black;
background:rgb(80,206,246);
}
#dls:hover{
color:black;
background:orange;
	
	
}
		
/*                     GENERAL                 */

hr{
width:75%;
height:10px;
color:white;
border:2px;
border-color:orange;
background:orange;	
}
hr.tophr{/*HR DIVIDERS*/
width:73%;
height:5px;
color:white;
border:2px;
border-color:orange;
background:white;	
}	
div{
	
}
a{/*LINKS*/
color:white;
text-decoration: none;
}
.outlink{
color:teal;
text-decoration: underline;
}	
h1{/*TITLE HEADERS*/
 font-family:'Oswald','Segoe UI';		
 color:white;
}
h2{/*SUBHEADER*/
 font-family: 'Lato', sans-serif;	
 color:white;
}
h3{/*SUBHEADER*/
 font-family: 'Oswald', sans-serif;	
 color:white;
 font-size:14pt;
}
h4{/*QUESTIONS/INQUIRY TEXT*/
 font-family: 'Oswald', sans-serif;	
 color:white;
 font-size:16pt;
}
p{/*MAIN TEXT CONTENT*/
 font-family: 'Lato', sans-serif;		
 color:white;
 padding-left:12.5%;
 text-align: justify;
 text-justify: inter-word;
 font-size:16pt;
 -webkit-font-smoothing: antialiased;
}
h5{/*FOOTER TEXTS*/
 font-family: 'Lato', sans-serif;	
 color:white;
 font-size:8pt;
}
pre{
  font-family: 'Lato', sans-serif;		
 color:white;
 padding-left:12.5%;
 text-align: justify;
 text-justify: inter-word;
 font-size:16pt;
 -webkit-font-smoothing: antialiased;
	
}	
/*MAIN PAGE CONTENTS*/
#bgimage{
width:75%
	
}	
#ssk{
width:75%
	
}	
.answer{
 color:rgb(255,209,53);	
}
.notice{
	color:rgb(230, 0, 0);
}
#downloadheader{
background:rgb(255,215,20);

}
#manualheader{
background:rgb(80,206,246);

}	
#discordheader{
background:rgb(204,115,186);

}
#faqheader{
background:rgb(255,51,51);

}	
#devheader{
background:rgb(181,230,29);

}	
.tabletext{
	background:rgb(38, 38, 38);	
	 color:white;
 font-family:'Oswald','Segoe UI';	
 font-size:16pt;
 padding:10px;
 padding-left:15px;
 padding-right:15px;

}	
