<center>
<hr class="tophr">
<h5>
DISCLAIMER:
Ace Attorney&reg; properties and characters are copyright &copy; Capcom, Ltd. <br>
Danganronpa&reg; properties and characters are copyright &copy; Spike, Spike Chunsoft. All rights reserved. <br>
Attorney Online 2 is not associated with, endorsed or officially accepted by Capcom or Spike/Spike Chunsoft. <br>
This is a fanmade website created solely for the enjoyment and promotion of the franchises, with no intention to earn profit. <br>
</h5>
<h5>Site Version 2.5.1&beta;. Generated {{ site.time }}.</h5>
</center>
