<img id=logo src="{{ '/global/topbarwg.png' | prepend: site.baseurl }}">
<img id=logo2 src="{{ '/global/topbar2.png' | prepend: site.baseurl }}">


<div id="register"><a href="https://goo.gl/forms/awCGTWkg1PTyLPi23">
<img id="ico" id="contact" src="{{ '/misc/contact.svg' | prepend: site.baseurl }}"/>
<tt id="context">Register</tt></a>
</div>


<a href="https://discord.gg/ZdYYUN">
<div id="support"> 
<img id="ico" src="{{ '/misc/help.svg' | prepend: site.baseurl }}"/>
<tt id="context">Support</tt></a>
</div>

<a href="https://discord.gg/jNtMrzq">
<div id="feedback">
<img id="ico" src="{{ '/misc/message.svg' | prepend: site.baseurl }}"/>
<tt id="context">Feedback</tt></a>
</div>

<a href="https://discord.gg/jNtMrzq">
<div id="playol">
<img id="ico" src="{{ '/global/game.svg' | prepend: site.baseurl }}"/>
<tt id="context">PLAY ONLINE</tt></a>
</div>


<!--This is the navigation bar/menu -->
<nav>
<ul id="navigation">
{% for some_page in site.pages %}
{% if some_page.internal_title and some_page.category contains "toplevel" %}
<li class="navigationmenu {{ some_page.internal_title | truncate: 3, "" | downcase }}" {% if some_page.url == page.url %} id="selected" {% endif %}>
	<a href="{{ some_page.url }}">
		<img src="{{ some_page.url | append: some_page.navicon }}" />{{ some_page.short_title | upcase }}</a>
</li>
{% endif %}
{% endfor %}
</ul>

<ul id="navigation">
{% for some_page in site.pages %}
{% if some_page.internal_title and some_page.category contains "midlevel" %}
<li class="navigationmenu two {{ some_page.internal_title | truncate: 3, "" | downcase }}" {% if some_page.url == page.url %} id="selected" {% endif %}>
	<a href="{{ some_page.url }}">
		<img src="{{ some_page.url | append: some_page.navicon }}" />{{ some_page.short_title | upcase }}
	</a>
</li>
{% endif %}
{% endfor %}
<!--
<li class="navigationmenu two faq"><a href="/faq/index.html"><img src="/faq/faq.svg" /><span class="navtext"> FAQ</span></a></li>
<li class="navigationmenu two man"><a href="/manual/index.html"><img src="/manual/manual.svg" /><span class="navtext"> MANUAL</span></a></li>
<li class="navigationmenu two dow"><a href="/downloads/index.html"><img src="/downloads/downloads.svg" /> DOWNLOADS</span></li></a>
<li class="navigationmenu two dis"><a href="/discord/index.html"><img src="/discord/discord.svg" /><span class="navtext"> DISCORD</span></a></li>
<li class="navigationmenu two dev"><a href="/development/index.html"><img src="/development/development.svg" /><span class="navtext"> DEVELOPMENT</span></a></li>
-->
</ul>
</nav>

<nav>

</nav>
