<a href="/"><img id=logo src="{{ '/global/topbarwg.png' | prepend: site.baseurl }}"></a>
<a href="/"><img id=logo2 src="{{ '/global/topbar2.png' | prepend: site.baseurl }}"></a>

<!--This is the navigation bar/menu -->
<nav>
<ul id="navigation">
{% for some_page in site.pages %}
{% if some_page.internal_title and some_page.category contains "toplevel" %}
<li class="navigationmenu {{ some_page.internal_title | truncate: 3, "" | downcase }}" {% if some_page.url == page.url %} id="selected" {% endif %}>
	<a href="{{ some_page.url }}">
		<img src="{{ some_page.url | append: some_page.navicon }}" />{{ some_page.short_title | upcase }}</a>
</li>
{% endif %}
{% endfor %}
</ul>

<ul id="navigation">
{% for some_page in site.pages %}
{% if some_page.internal_title and some_page.category contains "midlevel" %}
<li class="navigationmenu two {{ some_page.internal_title | truncate: 3, "" | downcase }}" {% if some_page.url == page.url %} id="selected" {% endif %}>
	<a href="{{ some_page.url }}">
		<img src="{{ some_page.url | append: some_page.navicon }}" />{{ some_page.short_title | upcase }}
	</a>
</li>
{% endif %}
{% endfor %}
</ul>
</nav>

